<!-- World Population-->

<head>
    <script type="text/javascript" src="scripts/worldpop.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container worldPop">
        <div>
            Population of every country in the world
            <button id="search-world">Click Here</button>
        </div>
        <div id="output-pop-world"></div>
        <br>
        <div>
            Population of <input ng-model="CountryName" id="countryPop" placeholder = "Enter country name" required/>
            <button id="search">Search</button>
        </div>

        <div id="output-pop"></div>

        <p>Search by age and year</p>

        <input ng-model="name" id="countryName" placeholder="Enter Country Name" required/>
        <input ng-model="year"  id="year" placeholder="Enter Year"/>
        <input ng-model="age"  id="age" placeholder="Enter Age"/>
        <br>
        <button id="search-age">Search</button>
        <button id="clear-button">Clear</button>

        <h3>Population of {{name}} in the year {{year}} is: </h3>
        <div id="output-pop-age"></div>
    </div>
</body>
